.task__button{
    border:none;
    width: 30px;
    height:30px;
    padding:0px;
   
}
.task__button--done {
    background: hsl(120, 100%, 25%);
    color: white;
}

.task__button--done:hover {
    background: hsl(120, 100%, 30%);
}

.task__button--done:active {
    background: hsl(120, 100%, 35%);
}

.task__button--remove {
    background: hsl(0, 98%, 44%);
}

.task__button--remove:hover {
    background: hsl(0, 98%, 50%);
}

.task__button--remove:active {
    background: hsl(0, 98%, 55%);
}