.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
    padding: 20px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
        padding-bottom: 20px;
    }

}

.form__field {
    padding: 10px;
    border: 1px solid hsl(0, 10%, 89%);
}

.form__button {
    border: none;
    background-color: teal;
    color: white;
    padding: 10px;
}

.form__button:hover {
    background-color: hsl(180, 100%, 30%);
}

.form__button:active {
    background-color: hsl(180, 100%, 35%);
}