.section {
    background: white;
    margin-bottom: 10px 0;
    box-shadow: 0 0 5px #ddd;
}

.section__header {
    font-size: 20px;
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid #ddd;
}

.section__body {
    padding: 15px;
    margin-bottom: 10px;

}

.section__button {
    border: none;
    background-color: transparent;
    color: hsl(180, 100%, 25%);
    transition: color 0.8s;
    font-size: 15px;
}

.section__button:hover {
    color: hsl(180, 100%, 35%);
}

.section__button:disabled {
    color: #ccc;
}

.section__h2 {
    padding: 0;
    font-size: 20px;
    margin: 0;
}

.section__header--grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

.headerButtons {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .section__header--grid {
        grid-template-columns: 1fr;
    }

    .headerButtons {
        grid-template-columns: auto;
        justify-content: center;
        grid-gap: 15px;
    }
}